/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu-container {
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.menu-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.menu-container img {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-container img:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(255, 255, 255, 0.2);
}

@media (max-width: 768px) {
    .menu-container img {
        width: 100%;
        max-width: 100%;
    }

    .menu-title {
        font-size: 1.5rem;
    }
}

.whatsapp-button {
    margin: 20px 0;
    text-align: center;
}

.whatsapp-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #25d366;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 30px; /* Aumentado para mais largura */
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    gap: 10px; /* Espaço entre ícone e texto */
    white-space: nowrap; /* Impede quebra de linha */
    min-width: 220px; /* Garante largura mínima */
}

.whatsapp-link:hover {
    background-color: #1ebc5a;
}

.whatsapp-icon {
    width: 20px;
    height: 20px;
    position: relative;
    top: 10px;
}

nav {
    background-color: #f8f9fa; /* Fundo claro e elegante */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 10px 20px; /* Espaçamento interno */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    text-align: center; /* Centraliza o conteúdo */
    margin: 20px 0; /* Espaçamento acima e abaixo */
}

nav a {
    color: #007bff; /* Azul para links */
    text-decoration: none; /* Remove sublinhado */
    font-weight: bold; /* Texto mais forte */
    font-size: 1rem; /* Tamanho da fonte */
    margin: 0 10px; /* Espaçamento horizontal */
    padding: 5px 10px; /* Espaçamento interno dos links */
    border-radius: 5px; /* Bordas arredondadas nos links */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave para hover */
}

nav a:hover {
    background-color: #007bff; /* Fundo azul no hover */
    color: white; /* Texto branco no hover */
}
